:root {
    --main-color: #ff4d44;
    --secondary-color: #78c7ff;
    --accent-color: yellow;
    --header-height: 30px;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.menu-button{
    font-size: 28px;
}

header h1 {
    margin-left: 8px;
}

header .side-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background-color: navy;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

header li {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
    color: var(--main-color);
    display: block;
}

header a {
    color: var(--main-color);
    text-decoration: none;
    white-space: nowrap;
}

header .close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 36px;
    margin-bottom: 10px;
}