:root {
    --main-color: #ff4d44;
    --secondary-color: #78c7ff;
    --sky-blue: #D6F5FF;
    --accent-color: yellow;
    --pheasant-blue: #00435C;
    --pheasant-red: #FF4238;
    --pheasant-yellow: #ffe866;
    --pheasant-yellow-light: #FFF1A3;
    --pheasant-yellow-light-2: #FFF5BD;
    --pheasant-brown: #f2871c;
    --egg-green: #daebd0;
    --header-height: 30px;
}

html{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Hind Siliguri, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

header .header-row{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 5px;
    background-color: var(--sky-blue);
    color: var(--pheasant-red);
    z-index: 1;
    box-shadow: 0px 1px 2px #cfcfcf;
}

.menu-button{
    font-size: 28px;
}

header .header-title {
    font-family: Pattaya;
    margin-left: 8px;
    /* display: none; */
}

header .nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background-color: var(--pheasant-blue);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

header li {
    padding: 8px 8px 8px 0px;
    font-family: Sansita;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
    color: var(--pheasant-red);
    display: block;
}

header a {
    color: var(--main-color);
    text-decoration: none;
    white-space: nowrap;
}

header .close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 36px;
    margin-bottom: 10px;
}

header .welcome-section {
    display: block;
    height: 92vw;
    max-height: 100vh;
    width: 100%;
    background-color: #00435C;
}

header .welcome-text {
    font-family: Pattaya;
    color: #FF4238;
    position: relative;
    top: 12vh;
    text-align: center;
    margin-left: -1vw;
    font-size: 20vw;
    margin-bottom: 40px;
}

header .that-word {
    animation-name: embiggen-that;
    animation-delay: .6s;
    animation-duration: .6s;
}

@keyframes embiggen-that {
    0% {font-size: 20vw;}
    50% {font-size: 21vw;}
    100% {font-size: 20vw}
}

header .scott-word {
    font-family: Sansita;
    font-weight: 700;
}

header .welcome-slogan {
    color: #fffcf0;
    text-align: center;
    font-size: 6vw;
    margin-top: .1em;
}

/* This accounts for the height of the header
so the internal page links work correclty */
h2::before {
    display: block;
    content: "";
    margin-top: -10px;
    height: var(--header-height);
    visibility: hidden;
    pointer-events: none;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-family: Sansita;
    font-size: 34px;
}

.tool-kit {

}

.tools-list li {
    display: inline;
    margin-right: 10px;
    list-style-type: none;
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project-tile {
    background-color: var(--egg-green);
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.project-contents {
    margin: 5% 5% 20%;
}

.project-tile img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.project-tile h3 {
    text-align: center;
    font-size: 26px;
    font-family: Alegreya Sans;
    margin: 5px 0px -5px;
}

.project-link {
    color: white;
    background-color: var(--pheasant-blue);
    border: none;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 0px;
    font-family: Hind Siliguri;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

@media only screen and (min-width: 390px) {
    .project-tile {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 580px) {
    header .welcome-section {
    }

    header .welcome-text {
        font-size: 19vw;
        margin-bottom: 30px;
    }

    @keyframes embiggen-that {
        0% {font-size: 19vw;}
        50% {font-size: 20vw;}
        100% {font-size: 19vw}
    }

    header .welcome-slogan {
        font-size: 5vw;
        margin-top: .2em;
    }

    .project-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-tile {
        width: 48%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 801px) {
    :root {
        --header-height: 50px;
    }

    header .menu-button {
        display: none;
    }

    header .close-button {
        display: none;
    }

    header .header-row h1 {
        display: none;
    }

    header .header-row .nav {
        position: static;
        width: auto;
        display: flex;
        flex-direction: row;
        background-color: var(--sky-blue);
        margin-top: -50px;
        margin-left: auto;
        margin-right: 20px;
        padding-bottom: 5px;
        overflow-y: hidden;
    }

    header li {
        display: inline-block;
        margin-left: 15px;
    }

    header .welcome-section {
        height: 100vh;
    }

    header .welcome-text {
        font-size: 150px;
    }

    @keyframes embiggen-that {
        0% {font-size: 150px;}
        50% {font-size: 165px;}
        100% {font-size: 150px;}
    }

    header .welcome-slogan {
        font-size: 40px;
        margin-top: -40px;
    }

    main{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .project-tile {
        width: 32%;
    }
}